.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 57%;
  padding: 56px 4.5% 0 4.5%;
  background: @bg-white;
  &_license {
    width: 76%;
    max-height: 99%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
  }
}
.popup_visible {
  display: block;
}
.popup__title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 44px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: -0.4px;
}
.popup__text {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: @font-light;
  line-height: 54px;
}
@media (max-width: 1325px) {
  .popup__title {
    font-size: 42px;
  }
}

@media (max-width: 1260px) {
  .popup__title {
    font-size: 40px;
  }
}

@media (max-width: 1201px) {
  .popup__title {
    font-size: 38px;
  }
}

@media (max-width: 1140px) {
  .popup__title {
    font-size: 36px;
  }
}

@media (max-width: 1121px) {
  .popup__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
  }
  .popup__text {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 900px) {
  .popup {
    width: 80%;
    max-height: 90%;
  }
}

@media (max-width: 760px) {
  .popup {
    padding-top: 35px;
  }
  .popup__title {
    font-size: 25px;
    line-height: 28px;
  }
  .popup__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 667px) {
  .popup {
    padding-top: 15px;
  }
  .popup__title {
    font-size: 23px;
    line-height: 25px;
  }
  .popup__text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 568px) {
  .popup__title {
    font-size: 21px;
    line-height: 23px;
  }
  .popup__text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .popup {
    padding-left: 7%;
    padding-right: 7%;
  }
  .popup__text {
    font-size: 10px;
  }
}


@media (max-width: 414px) {
  .popup {
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .popup__text {
    font-size: 14px;
  }
}
